.profile {
  padding: calc(38.25/320*100%) 0 calc(36/320*100%);
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, auto);
  box-sizing: border-box;

  grid-template-areas:
  "avatar avatar"
  "title edit-button"
  "subtitle subtitle"
  "add-button add-button";
}


@media screen and (min-width: 990px) {
  .profile {
    padding: 36.25px 0 51px;
    grid-template-columns: 120px max-content repeat(2, auto);
    grid-template-areas:
    "avatar title edit-button add-button"
    "avatar subtitle . add-button";
   }
}