.header {
  max-width: 100%;
  margin: 0;
  padding: calc(28/320*100%) calc(27/320*100%) calc(31.6/320*100%);
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 990px) {
  .header  {
    padding: calc(45/1024*100%) 0 calc(36.25/1024*100%);
  }
}