.profile__avatar-container {
  max-width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  grid-area: avatar;
  justify-self: center;
  align-self: center;
  background-image: url(../../../images/red.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
}

@media screen and (min-width: 990px){
  .profile__avatar {
  justify-self: start;
  align-self: flex-start;
  }
}