.elements__zone {
  display: grid;
  justify-items: center;
  justify-content: space-evenly;
  max-width: 100%;

  margin: 0 calc(19/320*100%);
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 990px) {
  .elements__zone {
    margin: 0;
    column-gap: 17px;
  }
}


@media screen and (min-width: 1280px) {
  .elements__zone {
    grid-template-columns: repeat(3, minmax(282px, 1fr));
  }
}