.element__like{
  background-image: url(../../../images/Like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: cover;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.5s linear 0.3s;
}

.element__like:hover {
  opacity: 0.5;
}

.element__like:active {
  background-image: url(../../../images/Like_black.svg);
  opacity: 1;
}
